<div id="<%= dom_id vessel %>">
  <p>
    <strong>Reference number:</strong>
    <%= vessel.reference_number %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= vessel.name %>
  </p>

  <p>
    <strong>Naccs code:</strong>
    <%= vessel.naccs_code %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= vessel.owner_id %>
  </p>

  <p>
    <strong>Latest update user:</strong>
    <%= vessel.latest_update_user %>
  </p>

  <p>
    <strong>Remarks:</strong>
    <%= vessel.remarks %>
  </p>

</div>
