<div id="<%= dom_id voyage_history %>">
  <p>
    <strong>Departure port:</strong>
    <%= voyage_history.departure_port %>
  </p>

  <p>
    <strong>Departure time:</strong>
    <%= voyage_history.departure_time %>
  </p>

  <p>
    <strong>Entry port:</strong>
    <%= voyage_history.entry_port %>
  </p>

  <p>
    <strong>Entering port time:</strong>
    <%= voyage_history.entering_port_time %>
  </p>

  <p>
    <strong>Naccs code:</strong>
    <%= voyage_history.naccs_code %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= voyage_history.owner_id %>
  </p>

</div>
